* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: linear-gradient(264deg,rgba(218, 86, 86, 1) 38%, rgba(240, 128, 178, 1) 93%);
}




/***************** header elements ***************/
header {
    display: flex;
    flex-direction: row;
    padding-inline-end: 50px;
    justify-content: space-between;
    width: 100%;
}

header h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
    height: 80px;
    width:350px;
}

header a {
    display: flex;
    border-radius: 0 40px 0 0;
    background-color:#ec1a0762;
    text-align: center;
    color: white;
    text-decoration: none;
}

/**** Navegación ****/

.navContainer {
    width: 350px;
    height: calc(100vh - 80px);
    border-radius: 0 0 40px 0;
    background-color: #DD9090;
}
.navegacion ul {
    width: 100%;
    height: 100%;
}
.navegacion ul li{
    list-style: none;
    border-radius: 1px;
    padding-block: 10px;
    text-align: center;
    background-color: #DD9090;
    transition: all .1s ease-in;
}
.navegacion ul li:hover{
    background-color: #cf4f4f;
    transform: scale(110%);
    border-radius: 5px;
}
.navegacion ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    color: white;
    list-style: none;
    text-decoration: none;
}
.navegacion ul li:hover{
    color: white;
    list-style: none;
    text-decoration: none;
    border: 1px solid white;
}
.navegacion {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}